* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* COLOR  */

.lm-bg-header{
    background-color: #2c3e50;
}

.lm-btn{
    color: white !important;
}

#start{
    background-color: #1abc9c;
}

#about{
    background-color: #1abc9c;
}

.info-footer{
    background-color: #3a546d;
}

.copyright-footer{
    background-color: #2c3e50;
}

/* CUSTOMS */


.lm-submit{
    background-color: #1abc9c;
    margin-top: 10px;
}

.lm-span{
    color: #1abc9c;
}

#contact label{
    font-weight: bold;
    font-size: 1.1rem;
}

.info-footer p{
    margin: 0;
}

.info-footer a{
    text-decoration: none;
}

.info-footer i:hover{
    color: blue;
}

.info-footer a i{
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 30px;
    vertical-align: middle;
}

#start .col-5{
    max-width: 250px;
}


